@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);
body{
  margin:0;
  font-family: Lato;
  background-color:#ccc;
}
a{
  color:inherit;
}
h1{
  font-family: inherit;
  font-weight: 900;
  margin:0;
}
h2{
  font-family: inherit;
  font-weight: 900;
  margin: 0;
}
.center{
  text-align: center;
}
#menu{
  background-color: #ce00ce;
  color:#fffffc;
  font-weight: bold;
  text-align: center;
  .list{
    display:inline-block;
    height: 100%;
    width: 100px;
    padding:15px;
    transition:1s;
    text-decoration: none;
    a{
      text-decoration: none;
    }
    &:hover{
      background:#b500b5;
    }
  }
}
.text-center{
  text-align: center;
}
.container{
  display:block;
  width: 900px;
  margin:0 auto;
  padding: 30px;
  background: #fff;
  .section{
    padding-bottom: 20px;
    padding-top:20px;
  }
}

// Progress bar
.progress-bar{
  margin:0 auto;
  background-color:#5bb500;
  width:760px;
  height:20px;
  border-radius: 100px;
  padding:5px;
  .inner{
    height:inherit;
    width: 90%;
    background: -webkit-linear-gradient(left,#9bcf00, #c0ff02);
    background: -o-linear-gradient(left,#9bcf00, #c0ff02);
    background: -moz-linear-gradient(left,#9bcf00, #c0ff02);
    background: linear-gradient(left,#9bcf00, #c0ff02);
    border-radius: inherit;

  }
}
